ul {
	list-style-type: none;
}

li {
	float: left;
}

.place {
	border: solid 2px #442504;
	padding: 15px;
	background: #298A08;
	color: white;
	margin: 5px;
}

.place h3 {
	border-bottom: solid 1px #442504;
}